<?xml version="1.0"?>
<config>
    <modules>
        <VES_TestBlock>
            <version>0.1.0</version>
        </VES_TestBlock>
    </modules>
    <frontend>
        <routers>
            <testblock>
                <use>standard</use>
                <args>
                    <module>VES_TestBlock</module>
                    <frontName>testblock</frontName>
                </args>
            </testblock>
        </routers>
        <layout>
            <updates>
                <testblock>
                    <file>testblock.xml</file>
                </testblock>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<testblock>
				<use>admin</use>
				<args>
					<module>VES_TestBlock</module>
					<frontName>testblock</frontName>
				</args>
			</testblock>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<testblock module="testblock">
				<title>TestBlock</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="testblock">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>testblock/adminhtml_testblock</action>
					</items>
				</children>
			</testblock>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<VES_TestBlock>
							<title>TestBlock Module</title>
							<sort_order>10</sort_order>
						</VES_TestBlock>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<testblock>
					<file>testblock.xml</file>
				</testblock>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <testblock>
                <class>VES_TestBlock_Model</class>
                <resourceModel>testblock_mysql4</resourceModel>
            </testblock>
            <testblock_mysql4>
                <class>VES_TestBlock_Model_Mysql4</class>
                <entities>
                    <testblock>
                        <table>testblock</table>
                    </testblock>
                </entities>
            </testblock_mysql4>
        </models>
        <resources>
            <testblock_setup>
                <setup>
                    <module>VES_TestBlock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testblock_setup>
            <testblock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testblock_write>
            <testblock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testblock_read>
        </resources>
        <blocks>
            <testblock>
                <class>VES_TestBlock_Block</class>
            </testblock>
        </blocks>
        <helpers>
            <testblock>
                <class>VES_TestBlock_Helper</class>
            </testblock>
        </helpers>
    </global>
</config>