@media only screen and (max-width: 767px) {
  .col-main {width: 100%;}
  .sidebar {width: 100%;}
}


body {background: none 0 0 #ffffff; font: 13px 'Arial', serif;}


.main-container {background: none;}
.main {background: none;}

.header, .main, #nav, .footer {/* width: 1034px; */}

/* .footer-container {border-top: 0px;}
.header .logo img {display: none;}
.header .quick-access {width: 530px;}
.header a.logo {background: url("../images/shirt/Images.png") no-repeat scroll 0 0 transparent; display: block; width: 364px; height: 76px;}
 */






/* HEADER */
.header {padding: 0;}
.header .header-inner {}
.header-container {background: #ffffff; border: none; width: 100%; display: block; clear:both;}
.header-top {height: 40px; width:100%; display: inline-block; float:left; margin: 0 auto; position: relative; border-bottom: 1px solid #ededed; background: #fbfbfb; }
.header-content {width: 100%; float: left; background: #e8e8e8;}
.header-top .wrapper {margin:0 auto; max-width: 970px;}
.header-container .logo {padding: 10px 0;}
.head-bottom {max-width: 970px; margin: 0 auto; }

.tophead  .t-links {float: right;}
.tophead .welcome-msg {float: left; margin-left: 80px;}
.tophead .left-col {padding: 10px 0; text-align: left;}
.tophead .left-col  span {margin-right: 8px; height: 22px; width: 16px; vertical-align: middle; display: inline-block; background: url("../images/marketplace/phone.png") no-repeat scroll left center transparent;}
.tophead .right-col {padding: 10px 0;}

.tophead .left-col p {line-height: 1;}
.header .quick-access {max-width: 704px;}
ul.static_header_block {position: relative; overflow: hidden; float: left;}
ul.static_header_block li {text-align: left; line-height: .35; float: left; margin:0 5px; border-right: 1px solid #efefef; padding: 10px 10px 10px 35px;}
.most_extension {display: inline-block; background: url("../images/marketplace/most_extension.png") no-repeat scroll left center transparent;}
.most_reliable {display: inline-block; background: url("../images/marketplace/most_reliable.png") no-repeat scroll left center transparent;}
.most_reasonable {display: inline-block; background: url("../images/marketplace/most_reasonable.png") no-repeat scroll left center transparent;}

/* navigation */
.navbar-default {max-width: 940px; margin-left: auto; margin-right: auto; background-color: #1d1e23; background-image: none; border: none;}
.nav-container {background: #1d1e23;}
ul#nav { }
ul#nav li { background: url("../images/marketplace/nav-seperate.png") no-repeat scroll right center transparent;}
ul#nav li:last-child {background: none;}
ul#nav li a {color: #ffffff; font-size: 14px; text-align: center;}
ul#nav > li {line-height: 30px; margin: 14px 0;}
/* BANNER */



/* CONTENT */



/* FOOTER */
.footer {max-width: auto;}
.footer > ul.links {display: none;}
.footer > address a {color: #309cbd; text-decoration: none; cursor: pointer;}
.footer-container {background: #1d1e23; border: none;}
.footer .bugs {display: none;}
