.header-container {background: none; background: #f8f8f8; width: 100%;}
a {text-decoration: none;}

.toplinks-container .topleft p {float: left; margin-right:20px; font-size: 13px; line-height: 35px; text-transform: uppercase;}

.header .quick-access {width: 100%; padding :0 ; margin: 0 auto; display: block; }
.header .quick-access p.welcome-msg {float: left;}


.footer-container {border-top: 0px;}
.toplinks-container {width: 100%; float: left; display: block; background: repeat scroll 0 0 #231f20; padding: 5px 0;}
.toplinks-container .toplinks {margin: 0 auto; position: relative;}
.toplinks-container .topleft {float: left; width: 50%; display: block;}
.toplinks-container .topright {float: left; width: 50%;}

.toplinks .topleft p {font-size: 13px; color: #737373;}
.toplinks .topleft p span {font-size: 13px; color: #ffde00;}

.toplinks .topright p.welcome-msg {display: inline-block; float: left; margin-right: 15px;}
.toplinks .topright .links {display: inline-block; float: left;}
.toplinks .topright p.welcome-msg {display: inline-block;}

.form-search label {display: none;}
.toplinks .form-search {background: #737373; float: left; border-radius: 6px; padding: 1px 15px 1p 5px;}
.toplinks .form-search .input-text {background: none; color: #737373; text-align: left; border: medium none; border-radius:9px; color: #ffd800; font-size: 12px; line-height: 30px; width: 190px;}















/* Design for a width of 960-1280 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 960px <= width < 1280px */
@media only screen and (min-width: 960px) and (max-width: 1279px) {

}


/* Design for a width of 960-1024 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 960px <= width < 1024px */
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	
	
}



/* Mobile, small old desktop - design for a width of less than 960px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 960px */
@media only screen and (max-width: 959px) {
	
	
}



/* Tablet (Portrait) - design for a width of 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	

}


/* All desktop - design for a width of 768px and wider
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width */
@media only screen and (min-width: 768px) {
    
	/* .page-chat .block.chat {width: 99%;} */
}


/* All mobile - design for a width of less than 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 768px */
@media only screen and (max-width: 767px) {
	
}
/* end: width < 768px */


/* Mobile (Landscape) - design for a width of 480px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	

}


/* Additional break-point:
   Mobile (Landscape, iPhone 4 Portrait) - design for a width of 640px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {
	
	
}


/* All small mobile - design for a width of less than 480px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 480px */
@media only screen and (max-width: 479px) {
	
	
	
}


/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	
	
}


/* Mobile (Portrait) - design for a width of 240px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 320px */
@media only screen and (max-width: 319px) {
	
	
}