a {text-decoration: none;}
body {line-height: 1.35; font-family: "Open Sans"; background: none;}


.header {display: block; width: auto; max-width: 1200px; padding: 0;}
.main {background: none; width: auto; display:block; padding: 0;}
.main-container {background: none;}


.toplinks-container .topleft p {float: left; margin-right:20px; font-size: 13px; line-height: 35px; text-transform: uppercase;}

.header .quick-access {width: 100%; padding :0 ; margin: 0 auto; display: block; }
.header .quick-access p.welcome-msg {float: left;}


.footer-container {border-top: 0px;}
.toplinks-container {width: 100%; float: left; display: block; background: repeat scroll 0 0 #231f20; padding: 5px 0;}
.toplinks-container .toplinks {margin: 0 auto; position: relative; color: #ffde00;}
.toplinks-container .topleft {float: left; width: 40%; display: block;}
.toplinks-container .topright {float: left; width: 60%;}

.toplinks .topleft p {font-size: 13px; color: #737373;}
.toplinks .topleft p span {font-size: 13px; color: #ffde00;}

.toplinks .topright p.welcome-msg {display: inline-block; float: left; margin-right: 15px;}
.toplinks .topright .links {display: inline-block; float: left;}
.toplinks .topright p.welcome-msg {display: inline-block;}

.form-search label {display: none;}
.toplinks .form-search {background: #737373; float: left; border-radius: 6px; padding: 1px 15px 1p 5px;}
.toplinks .form-search .input-text {background: none; color: #737373; text-align: left; border: medium none; border-radius:9px; color: #ffd800; font-size: 12px; line-height: 30px; width: 190px;}
.toplinks .form-search button.button > span {padding: 7px 11px;border:none; text-indent: -99999px; background: url("../images/marketv2/icon-search.png") no-repeat scroll left center transparent;}


.header-container {background: none; background: #f8f8f8; width: 100%; overflow: hidden; float: left;}
.header-container .logo {float: left; margin: 13px 0; padding: 10px 0; margin:0;}
.header-container .quick-access {float: left; margin-left: 50px; max-width: 800px;}
.header-container .quick-access li{line-height:11px; float: left; display: inline-block; margin-right: 10px; padding-left: 14px; margin: 20px 15px 10px 0;}
.header-container .quick-access ul li{border-right: 1px solid #e7e7e7; text-align: left; font-size: 12px; font-weight: 500; padding: 17px 20px 17px 44px; text-transform: uppercase; text-shadow: 0 0 0 #666;}
.header-container .quick-access ul {float: left; width: 100%; overflow:hidden; padding: 0; margin: 0;}
.header-container .quick-access ul li p {color: #333;}
.header-container .quick-access ul li span {color: #878787;}

.header-container .quick-access ul li.first{display: inline-block; background: url("../images/marketv2/no1.png") no-repeat scroll left center transparent;}
.header-container .quick-access ul li.second{display: inline-block; background: url("../images/marketv2/most-reliable.png") no-repeat scroll left center transparent;}
.header-container .quick-access ul li.third{display: inline-block; background: url("../images/marketv2/most-resonable.png") no-repeat scroll left center transparent;}
.header-container .quick-access ul li.last{border-right: none; display:inline-block; background: url("../images/marketv2/items.png") no-repeat scroll left center transparent;}


.floating-nav {float: left; width:100%; display: block; background: #f8f8f8; border-top: 1px solid  #e1dcdc; padding-bottom: 3px; }
.floating-nav .nav-container {background: none; padding: 0;}
.floating-nav #nav {justify-content: space-between; width: 100%; margin:0 auto; text-align: center; float: left; display: flex; flex-direction: row;}
.floating-nav #nav > li {padding: 13px 3px 13px 3px; border-top: 3px solid #f8f8f8;}
.floating-nav #nav > li:hover {border-top: 3px solid #ffde00;}

.floating-nav #nav > li a{font-size: 15px; font-weight: 600; color: #464646; text-decoration: none; padding: 0;}




#maincontent {float: left; width: 100%;}



/* footer %%%%%%%%%%% */
.footer-container {float: left; width: 100%;}
.footer {width: auto; padding-bottom: 0; padding:0;}
.top-footer {background: url("../images/marketv2/bg-footer.png") repeat scroll transparent;
	float: left; position: relative; width: 100%;
}
.bottom-footer{background: none repeat scroll 0 0 #1c191b;}

.footer-wrap > ul {
  float: left; width: 100%;
}
.footer-wrap > ul li {display: inline-block;}
.footer-wrap > ul li h3 {
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 30px;
  text-transform: uppercase;
  line-height: 15px;
}




/* Design for a width of 960-1280 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 960px <= width < 1280px */
@media only screen and (min-width: 960px) and (max-width: 1279px) {

}


/* Design for a width of 960-1024 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 960px <= width < 1024px */
@media only screen and (min-width: 960px) and (max-width: 1023px) {


}



/* Mobile, small old desktop - design for a width of less than 960px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 960px */
@media only screen and (max-width: 959px) {


}



/* Tablet (Portrait) - design for a width of 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {


}


/* All desktop - design for a width of 768px and wider
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width */
@media only screen and (min-width: 768px) {

	/* .page-chat .block.chat {width: 99%;} */
}


/* All mobile - design for a width of less than 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 768px */
@media only screen and (max-width: 767px) {

}
/* end: width < 768px */


/* Mobile (Landscape) - design for a width of 480px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}


/* Additional break-point:
   Mobile (Landscape, iPhone 4 Portrait) - design for a width of 640px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {


}


/* All small mobile - design for a width of less than 480px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 480px */
@media only screen and (max-width: 479px) {



}


/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {


}


/* Mobile (Portrait) - design for a width of 240px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 320px */
@media only screen and (max-width: 319px) {


}
